#nazivPredmeta
{
    color: black;
    margin-left: 20px;
}

#godina
{
    color: red;
    margin-left: 20px;
}

#smjer
{
    color: blue;
    margin-left: 20px;
}

.yellow {
    background-color: yellow;
  }
